
<!-- Mostramos la anchura y el caption del slider -->
Slider:<strong>{{anchura}}</strong>, Captions:<strong>{{captions}}</strong>

<!-- Cortamos las imagenes en el html del slider -->
<div class="galeria">
	  <div><img class="img-slider" src="assets/img/arcticmonkeys.jpg" title="Arctic Monkeys"></div>
	  <div><img class="img-slider" src="assets/img/strokes.jpg" title="The Strokes"></div>
	  <div><img class="img-slider" src="assets/img/sodastereo.jpg" title="Soda Stereo"></div>
</div>

<!-- Boton para lanzar el metodo del output -->
<button (click)="lanzar($event)">Conseguir autor</button>